.description {
  margin-left: 50px;
  font-size: 1rem;
}

.description__heading {
  font-size: 2em;
  font-weight: bold;
}

.legend {
  font-size: 1rem;
  margin-left: 50px;
}

.legend__heading {
  font-size: 1.1em;
  margin: 1em 0;
}

.legend__field {
  font-size: 1em;
  line-height: 2em;
  width: 10em;
  text-align: center;
}

.legend__field--overweight {
  color: #000;
  background-color: #45C3ED;
}

.legend__field--obese {
  color: #FFF;
  background-color: #3C4ED6;
}

.controls {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
  border: 1px solid #000;
  background-color: #BAC9CF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.selector {
  font-size: 1rem;
  margin-right: 3em;
}

.selector__label {
  text-transform: uppercase;
  text-align: center;
}

.selector__button-container {
  display: flex;
  flex-direction: column;
  height: 6em;
}

.selector__button {
  background-color: #3EB080;
  color: #FFF;
  font-size: 1em;
  flex: 1;
  width: 8em;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.selector__button--selected {
  background-color: #2A7A59;
}

.location-level {
  font-size: 1rem;
  margin-right: 3em;
}

.location-level__label {
  text-transform: uppercase;
  text-align: center;
}

.location-level__button-container {
  display: flex;
  flex-direction: column;
  height: 6em;
}

.location-level__button {
  background-color: #3EB080;
  color: #FFF;
  font-size: 1em;
  height: 2em;
  width: 10em;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.location-level__button--selected {
  background-color: #2A7A59;
}

.location-name {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

.bar-chart {
  background-color: #8A979C;
  border: 1px solid #000;
}

.bar-chart__container {
  width: 1200px;
  margin: 0 auto;
}

.svg {
}

.bar-chart__axis {
  font: 0.8em sans-serif;
}

.bar-chart__axis--x {}

.bar-chart__axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar-chart__axis--x line {
  display: none;
}

.bar-chart__axis--y line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar-chart__axis--y {}

.bar-chart__location {
  cursor: pointer;
}

.bar-chart__bar {}

.bar-chart__bar:hover {
  fill: #1184AB;
}

.bar-chart__value {
  font: 0.8em sans-serif;
  text-anchor: middle;
}

.bar-chart__overweight {
}

.bar-chart__bar--overweight {
  fill: #45C3ED;
}

.bar-chart__value--overweight {
  fill: #000;
}

.bar-chart__obese {}

.bar-chart__bar--obese {
  fill: #3C4ED6;
}

.bar-chart__value--obese {
  fill: #FFF;
}

/*.tick text {
  transform: rotate(-70);
}*/
